footer.site-footer {
  @extend .hidden-xs;
  height: 215px;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px !important;
  &>div {
    font-size: 1.333em !important;
    vertical-align: middle;
    a {

      color: $dark-blue;
      &:hover, &:focus {
        color: $logo-blue !important;
      }
    }
  }
  img.social-icon {
    //mobile
    @media (max-width: $screen-xs-max) {
      height: 34.5px;
      width: 34.5px;
    }
    //tablet +
    @media (min-width: $screen-sm-min) {
      height: 45px;
      width: 45px;
    }

  }
}
