.lets-work-together-wrapper {
  &>.lets-work-together {
    height: 145px;
    text-align:center;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    a {
      display: inline-block;
      color: #f9f9f9;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em;
    }
  }
}
