.lets-work-together-wrapper {
  &>.lets-work-together {
    height: 145px;
    text-align:center;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

  }
}
