.up-anchor-wrapper {
  &>.up-anchor {
    height: 65px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.35);
    box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.35);
    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    a, a:hover {
      color: #777;
      right:10;
      &:hover {
        color: $logo-blue !important;
        text-decoration: none;
      }
    }
    img {
      margin-top: 15px;
      padding-left: -5px;
      width: 34px;
      height: 18px;
    }
  }
}


