$light-gray: #f2f2f2;
$medium-gray: #ccc;
$dark-gray: #343434;
$logo-blue: #45c2c6;
$button-red: #ff3333;

// inheritable
.light-gray-background {
  background-color: $light-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
  color: white;
}

.medium-gray-background {
  background-color: $medium-gray;
}

.red-background {
  background-color: $button-red;
}

.centered {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

// static page defaults
.static-pages {
  .row {
    // Brilliant, from:  http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3
    [class*="col-"] {
      padding: 0 30px;
    }
  }

  .jumbotron {
    color: rgb(201, 201, 201);
    background: transparent;
    padding: 30px;
    margin: 0;
    text-align: center;
    .img-responsive {
      margin: 0 auto;
    }
  }

  @media (max-width: 767px) {
    .jumbotron {
      background: transparent asset_url('wireframe_no_img_320.png') no-repeat center top;
      height: 200px;
    }
  }

  @media (min-width: 768px) {
    .jumbotron {
      background: transparent asset_url('home_hero_tablet.png') no-repeat center top;
      height: 673px;
    }
  }

  @media (min-width: 992px) {
    .jumbotron {
      background: transparent asset_url('home_hero_desktop.png') no-repeat center top;
      height: 673px;
    }
  }


  article {
    header {
      h1 {
        font-size: 2em;
        @extend .centered;
      }
      h2 {
        font-size: 1.5em;
        @extend .centered;
      }
      h3 {
        font-size: 1.3em;
        @extend .centered;
      }
    }
    p.centered {
      .img-responsive {
        margin: 0 auto;
      }
    }

  }

  .red-background {
    &:hover {
      background-color: darken($button-red, 10)
    }
    a.btn {
      color: white;
    }
  }

}
