$light-gray: #f2f2f2;
$medium-gray: #ccc;
$hex-gray: #1f1e1e;
$dark-gray: #343434;
$logo-blue: #4bc1c3;
$dark-blue: #e3e2db;
$button-red: #ff3333;
$threeb: #3b3b3b;
$default-button-color: #f9f9f9;
$default-button-background-color: $logo-blue;
$default-button-background-hover-color: #3fabac;

// inheritable
.light-gray-background {
  background-color: $light-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
  color: white;
}

.medium-gray-background {
  background-color: $medium-gray;
}

.hex-gray-background {
  background-color: $hex-gray;
}

.red-background {
  background-color: $button-red;
}

.logo-blue-background {
  background-color: $logo-blue;
}

.textured-background {
  background: image-url('seamless_paper_texture.png');
}

.centered {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding:0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-overflow {
  overflow: hidden;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row-spacer {
  @extend .hidden-xs;
  height:80px;
}

.full-width {
  max-width: 100%;
  min-width: 100%;
}

// No Gutters, from: http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/

.row.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

// static page defaults
.static-pages {
  .row {
    // Brilliant, from:  http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3
    [class*="col-"] {
      padding: 0 30px;
    }
  }

  article {
    padding-top: 80px;
    padding-bottom: 80px;
    header {
      h1, h2, h3 {
        @extend .centered;
      }

    }
    p.centered {
      .img-responsive {
        margin: 0 auto;
      }
    }
    .row {
      max-width: 1200px;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin: 0 auto !important;
    }

  }

  .red-background {
    &:hover {
      background-color: darken($button-red, 10)
    }
    a.btn {
      color: white;
    }
  }


}
