#index {
  article#hero {
    height: 70vh;
    h1 {
      text-transform: uppercase;
      span {
        color: red;
      }
    }
  }

  article#intro {
    p {
      padding-left: 1em;
      border-left: 8px solid red;
    }

    margin-left: 15vw;
    width: 70vw;

  }

  article#partners-and-services {
    header {
      h1 {
        text-align: left;
      }
    }

    .section-text {
      p, h1 {
        margin-left: 5%;
        margin-right: 5%;
      }
      background-color: aqua;
    }

    .section-image {
      padding-left: 0;
    }

  }
}
