.static-pages {
  #meet-the-team {
    .thumbnail {
      background: transparent;
      border: 0;
    }
    .ten {
      font-size: 100px;
      vertical-align: bottom;
      line-height: 80px;
    }
  }
}
