.static-pages {
  #meet-the-team {
    .thumbnail {
      background: transparent;
      border: 0;
    }
    .ten {
      font-size: 100px;
      vertical-align: bottom;
      line-height: 80px;
    }
  }

  #fun_facts {
    background-color: #209395;
    color: #E5DFCE;
    text-shadow: 4px 4px #226F6F;

    .fun_fact {
      height: 325px;
    }

    .numbers {
      font-size: 10.0em;
    }

    p {
      font-weight: bold;
      font-size: 2.0em;
    }

    img {
      margin-left: 5px;
      margin-right: 5px;
      display: inline;
    }
  }
}
