.container-fluid {
  padding: 0;
}
// not much should go in this file.
article .row   {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

article.no-full-height > .row, .no-full-height{
  height: auto !important;
}

article:first-child {
  margin-bottom: -145px; // Subtract navbar height
}

.sub-nav {
  max-width: 1200px;
  margin: 0 auto;
}