input, select, textarea {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  padding: 14px;
  border-radius: 3px;
  border: none;
  border-style: none;
  color: #777;
  
}

@media (max-width: $screen-sm-max) {
  input, select, textarea {
     font-size: 1.25em !important;
  }
}

.form-group {
  margin-top: 40px;

  label {
    color: #4bc1c3;
    text-transform: uppercase;
    font-size: 18px;
  }
}

.form-group.select.error {
  .controls {
    border: 1px solid #ff0000;

  }
}

.form-group.error {
  .controls {
    input, textarea {
      border: 1px solid #ff0000;
    }
  }
}

.form-group {
  .errors {
    color: #ff0000;
    font-size: 14px;
  }
}

.submit-form {
  text-align: right;
}

input[type=submit] {
  margin-top: 40px;
  width: 40%;
  border-radius: 10px;
  background-color: #e65253;
  font-size: 18px;
  font-weigth: bold;
  color: #f9f9f9;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #c64647;
}

select {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.form-group.select {
  .controls {
    background: image-url('select_arrow.png') no-repeat right #fefefe;
    background-size: 1.6em;
    border-radius: 3px;
    overflow: hidden;
  }
}

textarea {
  height: 250px;
}
