@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-family: 'Lato', sans-serif;
  
  .navbar .navbar-nav > li > a {
    font-size: 1.125em !important;
    text-transform: uppercase;
    color: #e3e2db;
    &:hover {
      color: #4bc1c3 ;
    }
  }
  
}