// Type/font for DFC Home site
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
body {
  font-family: 'Lato', sans-serif;
  
  .navbar .navbar-nav > li > a {
    font-size: 1.125em !important;
    text-transform: uppercase;
    color: #e3e2db;120
    &:hover {
      color: #4bc1c3 ;
    }
  }
  article {
    h1 {
     font-family: 'Pacifico', sans-serif; 
     font-size: 3.3em;
     color: #f99926;
    }
    h2 {
     font-weight: 700;
     font-size: 1.5em;
     color: #4bc1c3;
     text-transform: uppercase;
    }
  }
  
}